<body>
  <header class="container-fluid bg-dark position-sticky top-0">
    <ul class="nav nav-pills mb-3 py-3 container" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="pills-home-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-home"
          type="button"
          role="tab"
          aria-controls="pills-home"
          aria-selected="true"
        >Home</a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active"
          id="pills-profile-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-profile"
          type="button"
          role="tab"
          aria-controls="pills-profile"
          aria-selected="false"
        >Productos</a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="pills-contact-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-contact"
          type="button"
          role="tab"
          aria-controls="pills-contact"
          aria-selected="false"
        >Carrito</a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="pills-disabled-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-disabled"
          type="button"
          role="tab"
          aria-controls="pills-disabled"
          aria-selected="false"
        >Delivery?</a>
      </li>
    </ul>
  </header>

  <div
    class="alert container position-sticky top-0 alert-primary hide"
    role="alert"
  >
    Producto a帽adido a tu carrito de compras!
  </div>

  <div class="tab-content" id="pills-tabContent">
    <div
      class="tab-pane fade"
      id="pills-home"
      role="tabpanel"
      aria-labelledby="pills-home-tab"
      tabindex="0"
    >1</div>
    <div
      class="tab-pane fade show active container"
      id="pills-profile"
      role="tabpanel"
      aria-labelledby="pills-profile-tab"
      tabindex="0"
    >
      <h2 class="h4 m-4 text-primary">Selecci贸n de Productos:</h2>

      <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        {{! <div class="container"> }}
        {{#each products}}
          <div class="col d-flex justify-content-center py-2 mb-3">
            <div class="card shadow mb-3 bg-dark rounded" style="width: 20rem;">
              <h5
                class="card-title pt-2 text-center text-primary"
              >{{productName}}</h5>
              <p class="card-text text-center text-white-50"><small>C贸digo:
                  {{code}}
                </small></p>
              <img src="{{img}}" class="card-img-top" alt="Muestra un polo" />
              <div class="card-body">
                <p class="card-text text-white descripcion">{{description}}</p>
                <p class="card-text text-white-50"><small>{{stockDisp}}
                    Unidades disponibles.
                  </small></p>
                <h5 class="text-primary">Precio: S/<span
                    class="price"
                  >{{price}}</span></h5>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" data-id="{{code}}">Agregar al
                    Carrito</button>
                </div>

              </div>
            </div>
          </div>
        {{/each}}
        {{! </div> }}
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="pills-contact"
      role="tabpanel"
      aria-labelledby="pills-contact-tab"
      tabindex="0"
    >
      <div class="container">
        <h4 class="text-white-50">Carrito</h4>
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              {{! <th scope="col">Id</th> }}
              <th scope="col">Item</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Acci贸n</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody class="carrito" id="items"></tbody>
          <tfoot>
            <tr id="footer">
              <th scope="row">Carrito vac铆o - comience a comprar!</th>
            </tr>            
          </tfoot>
        </table>
        <br>
        <div>
          <form action="">
            <div class="field">
              <label class="text text-white">Tu medio de pago?</label>
              <div>
                <input
                    type="radio"
                    id="e-billetera"
                    name="medio"
                    value="yape o plin"
                  />
                  <label for="e-billetera" class="text text-white">Yape o Plin</label><br />
              </div>

              <div>
                <input
                    type="radio"
                    id="dep-bancos"
                    name="medio"
                    value="bancos"
                  />
                  <label for="dep-bancos" class="text text-white">Dep贸sito/Transf.Bancaria</label><br />
              </div>

              <div>
                <input
                    type="radio"
                    id="tarjeta"
                    name="medio"
                    value="cc-tarjeta"
                  />
                  <label for="tarjeta" class="text text-white">Tarjeta cr茅dito/D茅bito</label><br />
              </div>

              <div>
                <input
                    type="radio"
                    id="efectivo"
                    name="medio"
                    value="efectivo"
                  />
                  <label for="efectivo" class="text text-white">Dinero en Efectivo</label><br />
              </div>                 
            </div>

            <div class="field">
              <label class="text text-white">D贸nde entregamos tu compra?</label>
              <div>
                <input
                    type="radio"
                    id="domicilio"
                    name="entrega"
                    value="domicilio"
                  />
                  <label for="domicilio" class="text text-white">En domicilio</label><br />
              </div>

              <div>
                <input
                    type="radio"
                    id="metro"
                    name="entrega"
                    value="metro" />
                  <label for="metro" class="text text-white">L铆nea 1 del Metro de Lima</label><br />
              </div>

              <div class="metro">
                <select name="metro-linea1" id="metro">
                    <option selected disabled value="elige">Elige la Estaci贸n:
                    <option value="ayacucho">Estaci贸n Ayacucho
                    <option value="jorge chavez">Estaci贸n Jorge Ch谩vez
                    <option value="Otro">Otro
                    </select>
              </div>                 
            </div>

            <div class="field">
               <label class="text text-white">Momento de Pago?</label>
                <div>
                  <input
                    type="radio"
                    id="momento"
                    name="momento"
                    value="m-pago"
                  />
                  <label for="momento" class="text text-white">Pago al hacer el pedido</label><br />
                </div>

                <div>
                  <input
                    type="radio"
                    id="contra/entrega"
                    name="momento"
                    value="c-entrega"
                  />
                  <label for="contra/entreg" class="text text-white">Pago contra-entrega</label><br />
                </div>
            </div> 
            <div class="field">
              <div class="pagar">
                   <a href="/api/pago" class="btn btn-success btn-md" id="pagar">Ir a Pagar</a>
                </div>
            </div>      
        </form>
        </div>
                                           
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="pills-disabled"
      role="tabpanel"
      aria-labelledby="pills-disabled-tab"
      tabindex="0"
    >
      <div class="container text-white" style="width: 20rem;">
        <h3 class="text-primary">Delivery?</h3>

        <p>Por supuesto!
          <br />
          Tenemos dos formas de entregar nuestros productos:</p>

        <p><b>En las Estaciones del Metro de Lima:</b>
          Dentro de su horario de atenci贸n y que se encuentren operando.</p>
        <p><b>A domicilio:</b>
          <b>Gratis</b>
          si realizas el pago al hacer el pedido. Si eliges pagar contra-entrega
          el costo de env铆o es de S/10 (diez soles) y repartimos en zonas
          urbanas de Lima Metropolitana (A煤n no llegamos a conos ni AA.HH).
          <br />
          <br />
          En ambos casos(en el metro o en tu domicilio),una vez realizado tu
          pedido,
          <b>te contactaremos para coordinar contigo</b>
          la entrega de tu compra (max.48h).</p>
        <br />
        <h3 class="text-primary">Adem谩s puedes elegir:</h3>

        <p><b>Pagar al Hacer el Pedido:</b>
          As铆, te ahorras el costo de env铆o y aseguras tu compra.</p>
        <p><b>Pago Contra-Entrega:</b>
          Si pagas con efectivo, aceptamos billetes de m谩ximo S/100 (cien soles)
          y por favor nos indicas si pagas exacto o cu谩nto vuelto debemos
          llevarte.</p>
        <br />
        <h3 class="text-primary">Medios de Pago:</h3>

        <p><b>Yape o Plin:</b>
          Cuando elijes pagar con tu billetera electr贸nica(Yape o Plin), te
          proporcionaremos nuestros n煤meros.
        </p>

        <p><b>Dep贸sito en cuenta bancaria o transferencia:</b>
          Te daremos nuestros n煤meros de cuenta y haremos el despacho una vez
          confirmada la transacci贸n y disponibilidad del monto pagado en
          nuestras cuentas.
        </p>

        <p><b>Tarjeta de Cr茅dito o D茅bito:</b>
          Aceptamos todas las tarjetas que se procesan con la terminal de
          Izypay.
        </p>

        <p><b>Efectivo soles:</b>
          Por seguridad recomendamos que uses una de las anteriores pero, si
          decides usar efectivo, te recordamos que aceptamos billetes de hasta
          S/100 (Cien soles).
        </p>

        {{! <div class="card shadow bg-dark">
          <button class="btn btn-secondary btn-md">Efectivo</button>
          <p>En moneda nacional,m谩xima denominaci贸n aceptada es el billete de
            S/100(Cien soles).</p>
        </div>

        <div class="card shadow bg-dark">
          <button class="btn btn-secondary btn-md">Yape, Plin</button>
          <p>Cuando elijes pagar con tu billetera electr贸nica(Yape o Plin), te
            proporcionaremos nuestros n煤meros.</p>
        </div>

        <div class="card shadow bg-dark">
          <button class="btn btn-secondary btn-md">Dep贸sito en cuenta bancaria o
            transferencia</button>
          <p>Haremos el despacho una vez confirmada la transacci贸n y
            disponibilidad del monto pagado en nuestras cuentas.</p>
        </div>

        <div class="card shadow bg-dark">
          <button class="btn btn-secondary btn-md">Tarjeta de Cr茅dito o D茅bito</button>
          <p>Todas las tarjetas que se procesan con la terminal de Izypay.</p>
        </div> }}
      </div>
    </div>
  </div>

  <footer class="bg-dark p-3 mt-5">
    <p class="text-center m-0 text-white-50"><small>RIKKO DIGITAL - TIENDA 2,022</small>
    </p>
  </footer>
</body>

{{! <script src="/js/app.js"></script> }}

{{! viene de bluweb }}

<template id="template-carrito">
  <tr>
    {{! <th scope="row"></th> }}
    <td class="table__productos">
      <img src="" alt="" />
      <h6 class="text text-white-50">title</h6>
    </td>
    <td class="table__cantidad">amount</td>
    <td>
      <button class="btn btn-info bt-sm">+</button>
      <button class="btn btn-danger btn-md">-</button>
    </td>
    <td>S/<span>50</span></td>
  </tr>
</template>

<template id="template-footer">
  {{! <tr> }}
  <th scope="row">Total Productos</th>
  <td>10</td>
  <td>
    <button class="btn btn-danger btn-sm" id="vaciar-carrito">Vaciar todo</button>
    {{!-- <a href="/api/pago" class="btn btn-success btn-md" id="pagar">Ir a Pagar</a> --}}
  </td>
  <td class="font-weight-bold">S/<span>2000</span></td>
  {{! </tr> }} 

</template>

<script src="/js/app.js"></script>